/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility*/
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    border: 1px solid transparent;
    cursor: pointer;
    background-color: white;
}

ul {
    list-style-type: none;
}

li > a {
    color: white;
}

a {
    text-decoration: none;
}

a :hover {
    text-decoration: underline; /* Capire perché non va*/
}

.flex {
    display: flex;
}


/* Header */

header {
    background-color: #255ee9;
}

nav {
    display: flex;
    justify-content: center;
}

#navigation-bar {
    margin: 15px;
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
}

#link {
    flex-grow: 1;
}

.list.flex {
    justify-content: space-around;
}

.logo, #login-container {
    width: 25%;
}

#login-container {
    text-align: right;
}

.login-btn {
    background-color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
}

/* Jumbotron */

#header-image {
    background-image: url(img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron {
    color: white;
    text-align: center;
    font-size: 22px;
    width: 50%;
    height: 400px;
}

#jumbotron > h1 {
    font-size: 60px;
    padding: 50px 0 ;
}

#jumbotron > p {
    padding: 0 50px;
}

/*Specifiche bottoni jumbotron*/

.actions-btn{
    padding-top: 30px;
    justify-content: center;
    gap: 25px;
}

.actions-btn > button {
    font-size: 20px;
    padding: 20px;
    border-radius: 40px;
} 

.black-btn {
    background-color: #23272a;
    color: white;
}


/*MAIN*/

main {
    font-size: 21px;
}

section {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.white-background {
    background-color: #ffffff;
}

.gray-background {
    background-color:  #f6f6f6
}

.flex-container {
    width: 1200px;
    display: flex;
}

.big-content {
    width: 70%;
    height: fit-content;
}

.small-content {
    width: 30%;
    height: fit-content;
}

.onlychild-content {
    width: 100%;
    height: fit-content;
}

.flex-container h1 {
    font-size: 50px;
    color: #23272a;
    padding: 30px 0;
}

.flex-container p {
    color: #23272a;
}

.onlychild-content > * {
    text-align: center;
}

.big-content.flex {
    justify-content: flex-end;
}

.image-big {
    /*problemi a ingrandire l'img*/
    display: flex;
    justify-content: center;
}

.stars {
    background-image: url(img/stars.svg);
    background-size: 565px;
    background-repeat: no-repeat;
    background-position: top;
    padding: 30px;
}

.call-to-action {
    font-size: 30px;
    color: #23272a;
    margin-bottom: 30px;
}

.blue-btn {
    background-color: #8ea1e1;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 40px;
}

/*FOOTER*/

footer {
    padding-top: 10px;
    background-color: #23272a;
    height: fit-content;
    width: 100%;
}

.upper, .bottom {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.upper {
    margin-bottom: 40px;
}


#peach-box {
    width: 30%;
    height: 700px;
    background-color: #e79a9a;
    border: 3px dotted #a35959;
}

#acqua-box {
    width: 70%;
    height: 700px;
    background-color: #47b7b1;
    border: 3px dotted #15837d;
    display: flex;
}

.col {
    width: calc(100% / 4);
    border: 3px dotted #ffffff
}

#bottom-footer {
    background-color: #15837d;
    margin: 20px auto 0 auto;
    width: 1200px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    background-color: #a35959;
    padding: 5px 10px;
    border: 3px dotted #e79a9a;
}